<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#f3f3f3!important">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
</head>
    <img src="http://sapnaac.ucc.uwm.edu/img/contactBanner.png">
    <h2>Thank you [email] for registerting for the SAP Academic Community Conference 2021</h2>
    <h4>Check back <a href="http://sapnaac.ucc.uwm.edu/#conf2021" target="_blank">sapnaac.ucc.uwm.edu</a> for confernce updates</h4>
    <p>AC21 is seeking extended abstracts/research in progress on various topics exploring new technologies and issues in enterprise systems from multiple perspectives. These include but are not limited to fundamental research, practice-oriented cases, emerging areas such blockchain/robotic process automation/cloud computing/AI augmentation, and classroom use of enterprise systems.
    AC21 is a wonderful avenue to present research in progress and seek constructive feedback. AC21 also provides high-value networking opportunities with academics and industry professionals. Please see the full call for papers below submit today! Submissions are accepted through August 1, 2021.</p>
    <h4>Go to <a href="http://sapnaac.ucc.uwm.edu/#conf2021" target="_blank">sapnaac.ucc.uwm.edu</a> to submit an abstract.</h4>
<body>

</body>

</html>