<template>
    <div class="section">
        <div class="container">
            <div class="row">
                <h3>SAP North America Academic Community (SAPNAAC) Communications Committee</h3>
                <p>The charter of the communications committee is to ensure SAPNAAC stakeholders are informed of news and opportunities
                    relevant for the community. 
                     </p>
                <p>Here are the Communications Committee members for 2020-2021. </p>

                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-lg-offset-1 text-center">
                        <h3>Yvonne Antonucci, PhD, Secretary</h3>
                        <a href="mailto:yantonucci@widener.edu">
                            <h5>yantonucci@widener.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/yvonne-antonucci-803a471/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Professor of Business Analytics</h5>
                        <h5>and Business Process Innovation</h5>
                        <h5>School of Business</h5>
                        <h3>Widener University</h3>
                        <h5>Chester, PA, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/yvonneBoard.jpg">
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-lg-offset-1 text-center">
                        <h3>Jerry Casarella</h3>
                        <a href="mailto:jerryjc@comcast.net">
                            <h5>jerryjc@comcast.net</h5>
                        </a>
                       
                        </h5>
                       
                    </div>
                    <div class="col-lg-3">
                       
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-lg-offset-1 text-center">
                        <h3>Michael Cuellar</h3>
                        <a href="mailto:mcuellar@georgiasouthern.edu">
                            <h5>mcuellar@georgiasouthern.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/mjcuellar/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Associate Professor of Information </h5>
                        <h5>Systems</h5>
                        <h5>Parker College of Business</h5>
                        <h3>Georgia Southern University</h3>
                        <h5>Statesboror, GA, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/Michael-Cuellar-Aug-2019.jpg">
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-lg-offset-1 text-center">
                        <h3>Ross Hightower, PhD</h3>
                        <a href="mailto:hightowe@uwm.edu">
                            <h5>hightowe@uwm.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/ross-hightower-b6453172/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Senior Lecturer and UCC Director </h5>
                        <h5>Information Technology Mgt</h5>
                        <h5>Lubar School of Business</h5>
                        <h3>University of Wisconsin – Milwaukee</h3>
                        <h5>Milwaukee, WI, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/rossBoard.jpg">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1 text-center" style="margin-top:20px;">
                    <h3>Nitin Kalé, Chair</h3>
                    <a href="mailto:kale@usc.edu">
                        <h5>kale@usc.edu</h5>
                    </a>
                    <h5><a href="https://www.linkedin.com/in/nitin-kale-06767325/" target="_blank">LinkedIn</a>
                    </h5>
                    <h5>Professor of Engineering Practice</h5>
                    <h5>Information Technology Program</h5>
                    <h5>Viterbi School of Engineering</h5>
                    <h3>University of Southern California</h3>
                    <h5>Los Angeles, CA, USA</h5>
                </div>
                <div class="col-lg-3">
                    <img class="images" src="${config.BASE_URL}/img/nitinBoard.jpg">
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-lg-offset-1 text-center">
                        <h3>Vishal Shah</h3>
                        <a href="mailto:shah3v@cmich.edu">
                            <h5>shah3v@cmich.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/vishal-shah-ba80926/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Assistant Professor</h5>
                        <h5>Business Information Systems</h5>
                        <h5>College of Business Administration</h5>
                        <h3>Central Michigan University</h3>
                        <h5>Mount Pleasant, MI, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/shah3v.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>