<template>
    <div class="section">
        <div class="container">
            <div class="row">
                <h3>SAP North America Academic Community (SAPNAAC) Research Committee</h3>
               
                <p>Here are the Research Committee members for 2020-2021. </p>

                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-lg-offset-1 text-center">
                        <h3>Yvonne Antonucci, PhD, Secretary</h3>
                        <a href="mailto:yantonucci@widener.edu">
                            <h5>yantonucci@widener.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/yvonne-antonucci-803a471/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Professor of Business Analytics</h5>
                        <h5>and Business Process Innovation</h5>
                        <h5>School of Business</h5>
                        <h3>Widener University</h3>
                        <h5>Chester, PA, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/yvonneBoard.jpg">
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-lg-offset-1 text-center">
                        <h3>Michael Bliemel, PhD, Vice-Chair</h3>
                        <a href="mailto:mb@ontariotechu.ca">
                            <h5>mb@ontariotechu.ca</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/bliemel/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Dean and Professor of MIS</h5>
                        <h5>Faculty of Business and IT </h5>
                        <h3>Ontario Tech University</h3>
                        <h5>Oshawa, Ontario, Canada</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/MichaelBoard.jpg">
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-lg-offset-1 text-center">
                        <h3>Victor Taratukhin, PhD</h3>
                        <a href="mailto:victor.taratukhin@sap.com">
                            <h5>victor.taratukhin@sap.com</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/vtaratoukhine/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>University Alliances Global Research</h5>
                        <h5>Relations Lead and Regional Director</h5>
                        <h5>for Silicon Valley and US West, CA, USA</h5>
                        <h3>SAP America</h3>
                        <h5>Faculty, European Research Center</h5>
                        <h5>for Information Systems</h5>
                        <h3>University of Muenster, Germany</h3>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/victorBoard.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>