<template>
    <div class="section">
        <div class="container">
            <div class="row">
                <h3>SAP North America Academic Community (SAPNAAC) Research Committee</h3>

                <p>Here are the Research Committee members for 2020-2021. </p>

                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Mesut Akdere, Ph. D</h3>
                        <a href="mailto:makdere@purdue.edu">
                            <h5>makdere@purdue.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/mesutakdere/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Professor of Human Resource Development and Director of Purdue HR Analytics Interactive
                            Learning Lab</h5>
                        <h5>Department of Technology Leadership & Innovation</h5>
                        <h3>Purdue University</h3>
                        <h5>West Lafayette, IN, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/akdere.jpg">
                    </div>
                    <div class="col-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Human Resource Analytics, Talent Management, Performance Improvement</p>

                        <a href="https://polytechnic.purdue.edu/profile/makdere"
                            target="_blank">https://polytechnic.purdue.edu/profile/makdere</a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Yvonne Antonucci, PhD, Secretary</h3>
                        <a href="mailto:yantonucci@widener.edu">
                            <h5>yantonucci@widener.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/yvonne-antonucci-803a471/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Professor of Business Analytics</h5>
                        <h5>and Business Process Innovation</h5>
                        <h5>School of Business</h5>
                        <h3>Widener University</h3>
                        <h5>Chester, PA, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/yvonneBoard.jpg">
                    </div>
                    <div class="col-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Digitalization, Business Process Management, Process Mining, Enterprise Systems, Design
                        Thinking, Low-code development</p>

                        <a href="https://scholar.google.com/citations?hl=en&user=ovoN0pYAAAAJ" target="_blank">Google Scholars
                        </a>


                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Doug Battleson, EDP, PMP</h3>
                        <a href="mailto:dbattleson@edinboro.edu">
                            <h5>dbattleson@edinboro.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/douglas-battleson-edb-pmp-b3485b//"
                                target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Associate Professor of Information Systems</h5>
                        <h5>School of Business</h5>
                        <h3>Edinboro University</h3>
                        <h5>Edinboro, PA, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/battleson.jpg">
                    </div>
                    <div class="col-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Enterprise Systems Project De-escalation, Intelligent Enterprise, Project Management,
                        Sensemaking, Dynamic Capabilities</p>
                        <a href="http://douglasbattleson.com/" target="_blank">http://douglasbattleson.com/
                        </a></br>
                        <a href="https://www.researchgate.net/profile/Douglas_Battleson"
                            target="_blank">Research Gate
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Michael Bliemel, PhD, Vice-Chair</h3>
                        <a href="mailto:mb@ontariotechu.ca">
                            <h5>mb@ontariotechu.ca</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/bliemel/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Dean and Professor of MIS</h5>
                        <h5>Faculty of Business and IT </h5>
                        <h3>Ontario Tech University</h3>
                        <h5>Oshawa, Ontario, Canada</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/MichaelBoard.jpg">
                    </div>
                    <div class="col-lg-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Business Analytics, Data Literacy, Experiential Learning, Human-Computer Interaction, Enterprise
                        Systems, Gamification, NeuroIS</p>
                        <a href="https://businessandit.ontariotechu.ca/people/faculty/information-systems/michael-bliemel-ph.d.php"
                            target="_blank">https://businessandit.ontariotechu.ca/people/faculty/information-systems/michael-bliemel-ph.d.php
                        </a></br>
                        <a href="https://scholar.google.ca/citations?user=VjfbATkAAAAJ&hl=en"
                            target="_blank">Google Scholars
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Jan E. Christopher, M.A., MBA, Ph.D</h3>
                        <a href="mailto:jchristopher@desu.edu">
                            <h5>jchristopher@desu.edu</h5>
                        </a>
                        </h5>
                        <h5>Associate Professor of Economics Accounting</h5>
                        <h5>Economics and Finance Department</h5>
                        <h3>Delaware State University – College of Business</h3>
                        <h5>Dover,DE, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/christopher.png">
                    </div>
                    <div class="col-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Statistics for Data Scientists, Technical Data Analytics, Economic Analysis, Blockchains</p>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Jack Crumbly</h3>
                        <a href="mailto:jcrumbly@tuskegee.edu">
                            <h5>jcrumbly@tuskegee.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/jack-crumbly-70a1766/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Associate Professor and Management Department Chair</h5>
                        <h5>College of Business and Information Science</h5>
                        <h3>Tuskegee University </h3>
                        <h5>Tuskegee, AL, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/crumbly.jpg">
                    </div>
                    <div class="col-lg-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Supply Chain Innovation, Blockchain Technology, Business Analytics, Innovation in Humanitarian
                        Operations, Design Thinking, Low/Code Applications</p>
                        <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=qrxTdpkAAAAJ"
                            target="_blank">Google Scholars
                        </a>    </br>                  
                        <a href="https://www.tuskegee.edu/programs-courses/colleges-schools/cbis/management/from-the-desk-of-management-department-head"
                            target="_blank">From the desk of Management Department Head | Tuskegee University
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Michael Cuellar</h3>
                        <a href="mailto:mcuellar@georgiasouthern.edu">
                            <h5>mcuellar@georgiasouthern.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/mjcuellar/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Associate Professor of Information </h5>
                        <h5>Systems</h5>
                        <h5>Parker College of Business</h5>
                        <h3>Georgia Southern University</h3>
                        <h5>Statesboror, GA, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/Michael-Cuellar-Aug-2019.jpg">
                    </div>
                    <div class="col-lg-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Project Management, Philosophy and Social Theory for Information Systems, Scholarly Influence</p>
                        <a href="https://parker.georgiasouthern.edu/esa/faculty-2/michaelcuellar/"
                            target="_blank">https://parker.georgiasouthern.edu/esa/faculty-2/michaelcuellar/
                        </a></br>
                        <a href="https://scholar.google.com/citations?hl=en&user=Y60RSzkAAAAJ"
                            target="_blank">Google Scholars
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Mark Hwang, Ph.D</h3>
                        <a href="mailto: ​hwang1m@cmich.edu">
                            <h5> ​hwang1m@cmich.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/markhwang/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Professor of Information Systems</h5>
                        <h5>College of Business Administration</h5>
                        <h3>Central Michigan University</h3>
                        <h5>Mount Pleasant, MI, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/hwang.jpg">
                    </div>
                    <div class="col-lg-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Business Intelligence, Business Analytics, Data Science, Meta-Analysis</p>
                        <a href="https://scholar.google.com/citations?user=h0Kweu0AAAAJ&hl=en" target="_blank">Google
                            Scholars
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>John Michael Muraski, DBA, PMP</h3>
                        <a href="mailto:muraskij@uwosh.edu">
                            <h5>muraskij@uwosh.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/johnmuraski/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Assistant Professor of Information Systems</h5>
                        <h5>Information Systems</h5>
                        <h5>College of Business</h5>
                        <h3>University of Wisconsin - Oshkosh</h3>
                        <h5>Oshkosh, WI</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/Muraski.jpg">
                    </div>
                    <div class="col-lg-4 text-center">

                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Vishal Shah</h3>
                        <a href="mailto:shah3v@cmich.edu">
                            <h5>shah3v@cmich.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/vishal-shah-ba80926/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Assistant Professor</h5>
                        <h5>Business Information Systems</h5>
                        <h5>College of Business Administration</h5>
                        <h3>Central Michigan University</h3>
                        <h5>Mount Pleasant, MI, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/shah3v.jpg">
                    </div>
                    <div class="col-lg-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Knowledge Structures, Neuro-IS, Health IT, Enterprise Systems and Gamification, Data
                            Analytics/Data Sciences, Social Media and Privacy. </p>
                        <a href="https://scholar.google.com/citations?user=IOQfYf0AAAAJ&hl=en" target="_blank">Google
                            Scholars</a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Gene Shan</h3>
                        <a href="mailto:shan@uhcl.edu">
                            <h5>shan@uhcl.edu</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/gene-xiaojun-shan-b8875010/"
                                target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Assistant Professor of Engineering Management</h5>
                        <h5>College of Science and Engineering</h5>
                        <h5>University of Houston Clear Lake</h5>
                        <h3>Central Michigan University</h3>
                        <h5>Houston, TX, USA</h5>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/shan.jpg">
                    </div>
                    <div class="col-lg-4 text-center">
                        <p><span style="font-weight:bold;">Research Interests:</span> Business Analytics, Data Mining, Supply Chain Risk Management, Enterprise Systems </p>
                        <a href="https://www.uhcl.edu/science-engineering/faculty/shan-xiaojun"
                            target="_blank">https://www.uhcl.edu/science-engineering/faculty/shan-xiaojun</a></br>
                        <a href="https://scholar.google.com/citations?hl=en&user=tXGPaTQAAAAJ" target="_blank">Google
                            Scholars</a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Victor Taratukhin, PhD</h3>
                        <a href="mailto:victor.taratukhin@sap.com">
                            <h5>victor.taratukhin@sap.com</h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/vtaratoukhine/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>University Alliances Global Research</h5>
                        <h5>Relations Lead and Regional Director</h5>
                        <h5>for Silicon Valley and US West, CA, USA</h5>
                        <h3>SAP America</h3>
                        <h5>Faculty, European Research Center</h5>
                        <h5>for Information Systems</h5>
                        <h3>University of Muenster, Germany</h3>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/victorBoard.jpg">
                    </div>
                    <div class="col-lg-4 text-center">

                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-5 text-center">
                        <h3>Jaymeen Shah, Ph.D.</h3>
                        <a href="mailto:js62@txstate.edu">
                            <h5>js62@txstate.edu/h5>
                        </a>
                        <h5><A href="https://www.linkedin.com/in/jaymeen-shah-26170b7/" target="_blank">LinkedIn</A>
                        </h5>
                        <h5>Professor</h5>
                        <h5>Department of Computer Information Systems & Quantitative Methods</h5>
                        <h5>McCoy College of Business</h5>
                        <h5>Texas State University</h5>
                        <h3>San Marcos, TX, USA</h3>
                    </div>
                    <div class="col-lg-3">
                        <img class="images" src="${config.BASE_URL}/img/shah.jpg">
                    </div>
                    <div class="col-lg-4 text-center">
                        <P><span style="font-weight:bold;">Research Interests:</span> Computer Mediated Communication, IT and Analytics Education, Information Privacy and
                            Security, Healthcare, Enterprise Systems and IT Enabled Business Processes</P>
                        <a href="https://www.cis.txstate.edu/about/department-directory.html "
                            target="_blank">https://www.cis.txstate.edu/about/department-directory.html </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>